<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>信达精品研磨</title>
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="css/mislider.css">
  <link rel="stylesheet" type="text/css" href="css/mislider-skin-cameo.css">
  <link rel="shortcut icon" href="img/favicon.ico"/>
  <script src="js/angular.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/angular-lazy.js"></script>
  <script src="js/disable-scroll.js"></script>
  <script src="js/modernizr-custom.js"></script>
  <script src="js/mislider.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</head>
<body ng-controller="myController">
  <!-- 左侧导航栏 -->
  <div class="bar">
    <div class="icon">
      <a href=""><img src="img/btn.png"></a>
    </div>
    <div class="text">
      <ul>
        <li><a class="scroll" data-to="home">首页</a></li>
        <li><a class="scroll" data-to="about">关于我们</a></li>
        <li><a class="scroll" data-to="main">主营产品</a></li>
        <li><a class="scroll" data-to="star">明星产品</a></li>
        <li><a class="scroll" data-to="series">xx系列</a></li>
        <li><a class="scroll" data-to="contact">联系我们</a></li>
      </ul>
    </div>
  </div>
  <!-- 首页全屏第一页 -->
  <div class="home-pic home">
    <div class="home-text">
      <div class="home-title">信达精品研磨</div>
      <div class="home-small-title">为了更好的生活</div>
    </div>
  </div>
  <!-- 第二页 介绍 -->
  <div class="second-page about">
    <div class="second-inner">
      <div class="title second-title">关于信达</div>
      <div class="second-content">
        <div class="second-left">信达，知名品牌利百居甘肃办事处。公司始终坚持“诚信为本，价稳质优”的经营理念，承蒙广大客户一直以来对信达的支持，我们将以最稳定的质量和最优质的服务回馈于客户。</div>
        <div class="second-right">主营：干砂纸、原子灰、纸胶带、色浆等油漆辅材。<br /><br />地址：甘肃省兰州市高滩西兰板材市场410号<br />电话：18893119737， 13893390524</div>
      </div>
    </div>
  </div>
  <!-- 第三页 图片 -->
  <div class="third-page main">
    <div class="title third-title">主营产品</div>
    <div class="third-content">
      <div class="third-left"><img ng-src="img/one.jpg"></div>
      <div class="third-right"><img ng-src="img/two.jpg"></div>
    </div>
  </div>
  <!-- 新添加的轮播 -->
  <div class="carousel star">
    <div class="title carousel-title">明星产品</div>
    <div class="carousel-content">
      <div id="wrapper">
        <div class="mis-stage">
          <ol class="mis-slider">
            <li class="mis-slide" ng-repeat="img in carouselImgs">
              <a href="" class="mis-container">
                <figure>
                  <img ng-src="{{img.imageUrl}}">
                  <figcaption>{{img.name}}</figcaption>
                </figure>
              </a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- 第四页 研磨系列 -->
  <div class="fourth-page series">
    <div class="title fourth-title">研磨系列<div class="show-hide"></div></div>
    <div class="fourth-content">
      <div class="fourth-show-part">
        <div class="pic" ng-repeat="yanmoImg in goodImgs | filter: {type : 'yanmo'}">
          <div class="pic-include" ng-click="detailShow(yanmoImg)">
            <img lazy="{{yanmoImg.imageUrl}}">
          </div>
          <div class="good-name">{{yanmoImg.name}}</div>
          <span>{{yanmoImg.description}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 第四页 辅材系列 -->
  <div class="fourth-page grey-bg">
    <div class="title fourth-title">辅材系列<div class="show-hide"></div></div>
    <div class="fourth-content">
      <div class="fourth-show-part">
        <div class="pic" ng-repeat="fucaiImg in goodImgs | filter: {type: 'fucai'}">
          <div class="pic-include" ng-click="detailShow(fucaiImg)">
            <img lazy="{{fucaiImg.imageUrl}}">
          </div>
          <div>{{fucaiImg.name}}</div>
          <span>{{fucaiImg.description}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 第四页 粘胶系列 -->
  <div class="fourth-page">
    <div class="title fourth-title">粘胶系列<div class="show-hide"></div></div>
    <div class="fourth-content">
      <div class="fourth-show-part">
        <div class="pic" ng-repeat="zhanjiaoImg in goodImgs | filter: {type: 'zhanjiao'}">
          <div class="pic-include" ng-click="detailShow(zhanjiaoImg)">
            <img lazy="{{zhanjiaoImg.imageUrl}}">
          </div>
          <div>{{zhanjiaoImg.name}}</div>
          <span>{{zhanjiaoImg.description}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 底部 -->
  <div class="footer contact">
    <div class="grey"></div>
    <div class="footer-text">
      <div class="footer-title">联系我们</div>
      <div class="footer-input">
        <div class="info">
          <input type="text" name="" class="name" placeholder="姓名">
          <input type="text" name="" class="name" placeholder="电话">
        </div>
        <textarea class="remark" placeholder="留言"></textarea>
      </div>
      <div class="footer-submit">提交</div>
    </div>
  </div>
  <!-- 版权 -->
  <div class="copyright">
    <span>利百居甘肃办事处—信达精品研磨 Copyright © 2016</span>
  </div>
  <!-- pop 背景-->
  <div class="detail-outer">
    <div class="bg-color" ng-click="close()"><img src="img/close.png"></div>
    <div class="big-pic"><img src="" class="inner-pic"></div>
  </div>

</body>
</html>